<p id="notice"><%= notice %></p>

<p>
  <!--<strong>Series:</strong>-->
  <strong><%= @series.title %></strong>
</p>

<p>
  <!--<strong>Description:</strong>-->
  <%= @series.text %>
</p>

<div style="border-top: 1px solid grey;"></div>
<strong>Events</strong>
<%= render @series.events %>

<div style="border-top: 1px solid grey;"></div>
<%= link_to 'Add a New Event', new_series_event_path(@series) %>
<div style="border-top: 1px solid grey;"></div>

<p>
	<table style="border: 1px solid grey;">
		<tbody>
			<th style="border-bottom: 1px solid grey;">
				<strong>Subscribers:</strong>
			</th>
			<% @series.subscriptions.each do |subscription| %>
				<tr>
					<td><%= subscription.username %></td>
				</tr>
			<% end %>
		<tbody>
	</table>
</p>

<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %>
