<!-- render 'prepagecontent' -->
<!-- ============================================== -->	
<p>
  <h1><%= @series.title %></h1>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @series.text %>
</p>
 
<h2>Events</h2>
<%= render @series.events %>
 
<div style="border-top: 1px solid grey;">
	<!-- render "events/form" -->
	<div class="teamH_buttonStyle">
		<%= link_to 'Add a New Event', new_series_event_path(@series) %>
	</div>
	<br>
</div>

<br> 
<div style="border-top: 1px solid grey;">
	<%= link_to 'Edit Series', edit_series_path(@series) %> |
	<%= link_to 'Delete Series', series_path(@series), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<br>
<div style="border-top: 1px solid grey;">
	<%= link_to 'Back to Series List', controller: "series" %>
</div>

<!-- ============================================== -->
<!-- render 'postpagecontent' -->